        body {
            background-color: rgb(255, 231, 122);
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }

        img {
            align-items: center;
            width: 150px;
            background: transparent;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
            color: tomato;
        }

        .clearfix {
            overflow: auto;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }